<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="customer" method="post">
<label>Email</label><input type="text" name="email">
<label>Password</label><input type="text" name="password">
<input type="submit" value="Login">
<input type="submit" value="Register">
</form>


